<nav class="navbar">
  <div class="left">Logo</div>
  <div class="right">
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/work">work</a></li>
  </div>
</nav>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0.6rem 1.5rem;
  }
  .navbar li {
    list-style: none;
  }
  .navbar li a {
    text-decoration: none;
    color: black;
  }
  .right {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
</style>
